<div
  class="flex flex-row justify-between w-full mb-2 border-2 pt-2 pb-2 pr-4 pl-4 rounded-md items-center"
>
  <h2 class="text-2xl font-semibold text-slate-500">Janeiro / 2025</h2>
  <button
    matTooltip="Baixar Planilha CSV"
    matTooltipPosition="above"
    class="pt-1 pb-1 pl-3 pr-3 rounded bg-blue-500 hover:bg-blue-600 transition-all"
  >
    <span class="material-symbols-outlined text-2xl text-white">
      download
    </span>
  </button>
</div>
<table>
  <!-- Cabeçalho -->
  <tr>
    <th class="bg-pink-200 font-bold text-lg"></th>
    <th class="bg-pink-200 font-bold text-lg">DOMINGO</th>
    <th class="bg-pink-200 font-bold text-lg">SEGUNDA</th>
    <th class="bg-pink-200 font-bold text-lg">TERÇA</th>
    <th class="bg-pink-200 font-bold text-lg">QUARTA</th>
    <th class="bg-pink-200 font-bold text-lg">QUINTA</th>
    <th class="bg-pink-200 font-bold text-lg">SEXTA</th>
    <th class="bg-pink-200 font-bold text-lg">SABADO</th>
  </tr>

  <!-- S1 -->
  <tr>
    <td class="bg-pink-200 font-bold text-lg"></td>
    <td class="bg-blue-500 text-white font-bold text-lg">4</td>
    <td class="bg-blue-500 text-white font-bold text-lg">5</td>
    <td class="bg-blue-500 text-white font-bold text-lg">6</td>
    <td class="bg-blue-500 text-white font-bold text-lg">7</td>
    <td class="bg-blue-500 text-white font-bold text-lg">8</td>
    <td class="bg-blue-500 text-white font-bold text-lg">9</td>
    <td class="bg-blue-500 text-white font-bold text-lg">10</td>
  </tr>
  <tr>
    <td class="bg-pink-200 font-bold text-lg">1ª SEMANA</td>
    <td>Lilia<br />Lorena<br />Cinthya</td>
    <td>Lilia<br />Thais<br />Carol</td>
    <td>Lilia<br />Valdi<br />Carol</td>
    <td>Lilia<br />Lorena<br />Cinthya</td>
    <td>Lilia<br />Lorena<br />Alessandra</td>
    <td>
      <span class="blue">Monica</span><br />Valdi<br /><span class="purple"
        >Mariana</span
      >
    </td>
    <td>Thais<br />Valdi<br /><span class="blue">Monica</span></td>
  </tr>
  <tr>
    <td class="bg-pink-200 font-bold text-lg"></td>
    <td class="bg-blue-500 text-white font-bold text-lg">11</td>
    <td class="bg-blue-500 text-white font-bold text-lg">12</td>
    <td class="bg-blue-500 text-white font-bold text-lg">13</td>
    <td class="bg-blue-500 text-white font-bold text-lg">14</td>
    <td class="bg-blue-500 text-white font-bold text-lg">15</td>
    <td class="bg-blue-500 text-white font-bold text-lg">16</td>
    <td class="bg-blue-500 text-white font-bold text-lg">17</td>
  </tr>

  <!-- S2 -->
  <tr>
    <td class="bg-pink-200 font-bold text-lg">2ª SEMANA</td>
    <td>Lilia<br />Lorena<br />Cinthya</td>
    <td>Lilia<br />Thais<br />Carol</td>
    <td>Lilia<br />Valdi<br />Carol</td>
    <td>Lilia<br />Lorena<br />Cinthya</td>
    <td>Lilia<br />Lorena<br />Alessandra</td>
    <td>
      <span class="blue">Monica</span><br />Valdi<br /><span class="purple"
        >Mariana</span
      >
    </td>
    <td>Thais<br />Valdi<br /><span class="blue">Monica</span></td>
  </tr>

  <tr>
    <td class="bg-pink-200 font-bold text-lg"></td>
    <td class="bg-blue-500 text-white font-bold text-lg">11</td>
    <td class="bg-blue-500 text-white font-bold text-lg">12</td>
    <td class="bg-blue-500 text-white font-bold text-lg">13</td>
    <td class="bg-blue-500 text-white font-bold text-lg">14</td>
    <td class="bg-blue-500 text-white font-bold text-lg">15</td>
    <td class="bg-blue-500 text-white font-bold text-lg">16</td>
    <td class="bg-blue-500 text-white font-bold text-lg">17</td>
  </tr>

  <!-- S3 -->
  <tr>
    <td class="bg-pink-200 font-bold text-lg">3ª SEMANA</td>
    <td>Lorena<br />Thais<br />Valdi</td>
    <td>Monica<br />Bárbara<br />Carol</td>
    <td>Thais<br />Bárbara<br />Carol</td>
    <td>Lorena<br />Bárbara<br />Valdi</td>
    <td>Lorena<br />Bárbara<br />Alessandra</td>
    <td>Cinthya<br />Bárbara<br />Lilia</td>
    <td><span class="blue">Monica</span><br />Bárbara<br />Lilia</td>
  </tr>

  <tr>
    <td class="bg-pink-200 font-bold text-lg"></td>
    <td class="bg-blue-500 text-white font-bold text-lg">4</td>
    <td class="bg-blue-500 text-white font-bold text-lg">5</td>
    <td class="bg-blue-500 text-white font-bold text-lg">6</td>
    <td class="bg-blue-500 text-white font-bold text-lg">7</td>
    <td class="bg-blue-500 text-white font-bold text-lg">8</td>
    <td class="bg-blue-500 text-white font-bold text-lg">9</td>
    <td class="bg-blue-500 text-white font-bold text-lg">10</td>
  </tr>

  <!-- S4 -->
  <tr>
    <td class="bg-pink-200 font-bold text-lg">4ª SEMANA</td>
    <td>25<br />Lorena<br />Raiza<br />Cinthya</td>
    <td>
      26<br /><span class="red">Bárbara</span><br />Raiza<br /><span
        class="blue"
        >Monica</span
      >
    </td>
    <td>27<br />Carol<br />Raiza<br />Thais</td>
    <td>28<br />Lorena<br />Raiza<br />Thais</td>
    <td>29<br />Lorena<br />Alessandra<br />Thais</td>
    <td>
      30<br /><span class="purple">Lorena</span><br /><span class="red"
        >Marlete</span
      ><br />Thais
    </td>
    <td></td>
  </tr>
</table>
